<br/><br/>

<div class="welcome_header">
  <img class="welcome_logo" src="../../../../assets/img/logo.png" alt="Sirius Web">
  <br/><br/>
  <h1>Sirius Web</h1>
</div>

<br/>

<div class="welcome_card">
  <h2 class="underline-fail-alt">Solicitar estudio</h2>
  <ul>
    <li>Puede solicitar su estudio aqui, simplemente completando nuestro <strong>Formulario web</strong>.</li>
    <li>Los datos que se solicitan en este formulario deben ser completados por el <strong>Médico Tratante</strong> del paciente.</li>
  </ul>

  <hr class="dashed"><br/>
  <div class="text-center"><button mat-flat-button type="button" color="primary" routerLink="/appointment-request">SOLICITAR ESTUDIO</button></div>
</div>

<div class="welcome_card">
  <h2 class="underline-fail-alt">Resultado de estudios</h2>
  <ul>
    <li>Puede acceder al resultado de sus estudios y compartirlos con su médico de confianza.</li>
    <li>Disponga del informe médico e imágenes DICOM por descarga directa o utilizando el visor web.</li>
  </ul>

  <hr class="dashed"><br/>
  <div class="text-center"><button mat-flat-button type="button" color="accent" routerLink="/signin">RESULTADOS DE ESTUDIOS</button></div>
</div>

<div class="clear"></div>

<img class="earth_planet" src="../../../../assets/img/earth_planet_purple.png" alt="Earth planet">