<div *ngIf="sharedFunctions.response; then thenBlockTable else elseBlockTable"></div>

<ng-template #thenBlockTable>
  <div #main_list class="table-container">
    <table mat-table [dataSource]="sharedFunctions.response.data">

      <!-- element action -->
      <ng-container matColumnDef="element_action">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.flow_state == 'P09'; then thenBlockFS else elseBlockFS"></div>
            
            <!--patient actions-->
            <ng-template #thenBlockFS>
                <!--view_report-->
                <button mat-icon-button class="small_button action_buttons" type="button" (click)="pdfService.createPDF('report', element._id)" matTooltip="Ver informe">
                    <mat-icon>description</mat-icon>
                </button>

                <!--view dicom in HTML
                <button mat-icon-button aria-label="Ver imágenes asociadas" matTooltip="Ver imágenes asociadas" class="action_buttons">
                    <mat-icon>visibility</mat-icon>
                </button>
                -->

                <!--download dicom
                <button mat-icon-button aria-label="Descargar imágenes" matTooltip="Descargar imágenes" class="action_buttons">
                    <mat-icon>cloud_download</mat-icon>
                </button>
                -->
            </ng-template>

            <!-- flow_state -->
            <ng-template #elseBlockFS>
                <span class="badge badge-mini {{ element.flow_state }}" matTooltip="{{ cancellation_reasons[element.cancellation_reasons] }}" *ngIf="element.flow_state">{{ performing_flow_states[element.flow_state] }}</span>
            </ng-template>
        </td>
      </ng-container>

      <!-- date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Fecha </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="element.date">{{ element.date | date : "dd/MM/yyyy" : "UTC" }}</span>
        </td>
      </ng-container>

      <!-- checkin_time -->
      <ng-container matColumnDef="checkin_time">
        <th mat-header-cell *matHeaderCellDef class="column-alt text-center"> Hora<br/>recepción </th>
        <td mat-cell *matCellDef="let element" class="column-alt text-center">
          <span *ngIf="element.date">{{ element.date | date : "HH:mm" : "UTC" }}</span>
        </td>
      </ng-container>

      <!-- documents -->
      <ng-container matColumnDef="documents">
        <th mat-header-cell *matHeaderCellDef class="documents"> Documentos </th>
        <td class="documents" mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <span *ngFor="let current of element.patient.person.documents" >
                <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                <span matTooltip="{{ document_types[current.doc_type] }}">
                  <span>{{ current.document }}</span>
                </span>
                <br/>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- names -->
      <ng-container matColumnDef="names">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <span>{{ element.patient.person.name_01 }}</span>

              <span *ngIf="element.patient.person.name_02">
                <span>{{ ' ' + element.patient.person.name_02 }}</span>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- surnames -->
      <ng-container matColumnDef="surnames">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.patient">
            <span *ngIf="element.patient.person">
              <span>{{ element.patient.person.surname_01 }}</span>

              <span *ngIf="element.patient.person.surname_02">
                <span>{{ ' ' + element.patient.person.surname_02 }}</span>
              </span>
            </span>
          </span>
        </td>
      </ng-container>

      <!-- details -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Detalle </th>
        <td mat-cell *matCellDef="let element">
          <!-- procedure -->
          <span *ngIf="element.procedure">
            <span class="badge-alt" matTooltip="{{ element.procedure.code }}">
              <span>{{ element.procedure.name }}</span>
            </span>
          </span>

          <!-- modality -->
          <span *ngIf="element.modality; then thenBlockTableModality else elseBlockTableModality"></span>
          <ng-template #thenBlockTableModality>
            <span class="badge" matTooltip="{{ element.modality.code_meaning }}">{{ element.modality.code_value }}</span>
          </ng-template>
          <ng-template #elseBlockTableModality>(Sin dato)</ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>

<!-- Await response or not response -->
<ng-template #elseBlockTable>
  <div fxLayout="row" fxLayoutAlign="center center" class="response-info">
    Aguarde, aún no hay resultados.
  </div>
</ng-template>

<!-- No Data -->
<div *ngIf="sharedFunctions.response.message;" fxLayout="row" fxLayoutAlign="center center" class="response-info">
  {{ sharedFunctions.response.message }}
</div>