<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<!-- FOOTER -->
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<div class="main-footer" fxLayout="row" fxLayoutAlign="center center">
  <div>
    <br/>
    <strong>Sirius Web <small>1.0.0</small></strong><br/>
    <small>opendicom</small><br/><br/>
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
